<h2 class="screen-align">Createstudent</h2>
<div id="template-iqkj" class="row">
    <div id="template-idwv" class="cell">
        <label id="template-io0k" class="label ">
            <div id="template-ieqe2" class="">Name</div>
        </label>
        <input id="template-ik9g" [(ngModel)]="studentdetails.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-imgkk" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-i77xd" class="">SCreate</div>
        </button>
    </div>
    <div id="template-igzl" class="cell">
        <label id="template-iqx3" class="label ">
            <div id="template-if0g1" class="">Age</div>
        </label>
        <input id="template-i34u" [(ngModel)]="studentdetails.age" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>