<h2 class="screen-align">Collegecreate</h2>
<div id="template-iue1" class="row">
    <div id="template-ifp2" class="cell">
        <label id="template-i7nj" class="label ">
            <div id="template-ijzvl" class="">Name</div>
        </label>
        <input id="template-ihqj" [(ngModel)]="collegedetails.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-idgig" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-itjij" class="">Ccreate</div>
        </button>
    </div>
    <div id="template-if3c" class="cell">
        <label id="template-iuh9" class="label ">
            <div id="template-izd6o" class="">Age</div>
        </label>
        <input id="template-izkf" [(ngModel)]="collegedetails.email" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>